button {
    background-color: var(--color-component-background);
    font-family: Chivo-Light;
    font-size: var(--size-font-subtitle);
    color: var(--color-text-high-contrast-1);
    border: 1px solid var(--color-border-interactive);
    border-radius: 8px;
    padding-top: var(--size-padding);
    padding-bottom: var(--size-padding);
    width: 100%;
}

button:hover {
    background-color: var(--color-cta-background-hovered);
    border: 1px solid var(--color-border-interactive-hovered);
    color: var(--color-text-low-contrast-1);
    cursor: pointer;
}
