@font-face {
  font-family: Chivo-Regular;
  src: url(/Users/alexandreschaffner/Projects/fluid/front/src/static/Chivo-Regular.ttf);
}

h1 {
    font-family: Chivo-Regular;
    font-size: var(--size-font-title);
    font-weight: normal;
    color: var(--color-high-contrast-text);
}

h2 {
    font-family: Chivo-Light;
    font-weight: normal;
    font-size: var(--size-font-subtitle);
    color: var(--color-high-contrast-text);
}
