.body {
    padding-top: var(--size-padding-l);
    padding-left: var(--size-padding);
    padding-right: var(--size-padding);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
}

.content {
    grid-column-start: 2;
    grid-column-end: span 6;
    grid-row: 1;
}

.getStarted {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--size-gap);
    grid-row: 2;
    grid-column-start: 9;
    grid-column-end: span 3;
}

@media screen and (min-width: 1200px) {
    .content {
        grid-column-end: span 6;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        grid-column-end: span 8;
    }
}

@media screen and (max-width: 992px) {
    .content {
        grid-column-end: span 10;
    }
    .getStarted {
        display: block;
        row-gap: var(--size-gap);
        grid-row: 1;
        grid-column-start: 2;
        grid-column-end: span 3;
    }
}

